<mat-card >

<mat-card-header>
    <mat-card-title class="subtitle">Casdastro de Pedidos</mat-card-title>
    <mat-card-subtitle>&nbsp;</mat-card-subtitle>
  </mat-card-header>

<mat-form-field class="input"> 
    <mat-label>Selecione um cliente</mat-label>
    <mat-select [(ngModel)]="pedido.clienteId">
      <mat-option *ngFor="let cliente of clientes" [value]="cliente.clienteId">
        {{ cliente.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  
  <div *ngFor="let item of pedido.itens; let i=index">
    <mat-form-field class="input">
      <mat-label>Selecione um produto</mat-label>
      <mat-select [(ngModel)]="pedido.itens[i].produtoId">
        <mat-option *ngFor="let produto of produtos" [value]="produto.produtoId">
          {{ produto.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" [(ngModel)]="pedido.itens[i].quantidade">
    </mat-form-field>
    
    <button mat-icon-button color="warn" (click)="removerItem(i)">
        <span class="material-symbols-outlined">
            delete
            </span>
    </button>
  </div>
  <br>
  
  <button class="addItem" color="primary" button mat-fab extended routerLink="primary" (click)="adicionarItem()"> Adicionar Item 
</button>
  <tr>
    <td>
      <mat-card-actions>
        <button color="" mat-stroked-button routerLink="/pages/pedido/listar">Voltar</button>
      </mat-card-actions>
</td>
<td>
  <mat-card-actions>
    <button mat-stroked-button color="warn" (click)="cadastrar()">Cadastrar Pedido</button>
  </mat-card-actions>
  
</td>

  
</tr>
 
 
</mat-card>